body{
    background-color: rgb(39, 8, 245);
    color: lightpink;
}
.header_div{
    background: chartreuse;
    color: darkgreen;
}
.header_div p{
    font-family: 'Roboto' , sans-serif;
    color: darkturquoise;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bold;
}
.copy_right_footer{
    position: fixed;
    color: greenyellow;
    bottom: 0;
    width: 100%;
    font-size: medium;
    background: crimson;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    
    
}
.main_div button{
    font-family: 'Roboto' , sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
